{% extends 'theblog/base.html' %}
{% block title %} {{ post.title_tag }} {% endblock  %}

{% block content %}

<h1>{{ post.title }}</h1>
<small>
  By: {{ post.author }} -
  {{ post.post_date }}

</small>
<br>

<small>
  {% if user.is_authenticated and user.id == post.author.id %}
  <a href="{% url 'update_post' post.pk %}">
    (Edit)
  </a>

  <a href="{% url 'delete_post' post.pk %}">
    (Delete)
  </a>
  {% endif %}
</small>

<hr>
<br>
{{ post.body | safe }}

<br><br>



<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<br><br>
<hr>
<br>
<form action="{% url 'like_post' post.pk %}" method="post">
  {% csrf_token %}

  {% if user.is_authenticated %}
    {% if liked %}
      <button type="submit" name="post_id"
              value="{{ post.id }}"
              class="btn btn-danger btn-small">
        Unlike
      </button>
    {% else %}
      <button type="submit" name="post_id"
              value="{{ post.id }}" class="btn btn-primary btn-small">
        Like
      </button>
    {% endif %}

  {% else %}
    <small>Login to like</small>
  {% endif %}


  - {{ total_likes }} Likes
</form>

{% endblock %}
