{% extends 'theblog/base.html' %}


{% block content %}

{% if category_posts %}

  <h1>{{ cats }} Category</h1>

  {% for post in category_posts %}
    <li>
      <a href="{% url 'article-detail' post.pk %}">
        {{ post.title }}
      </a>
      - {{ post.author }} -
      {{ post.post_date }} -
      <small>
        {% if user.is_authenticated %}
        <a href="{% url 'update_post' post.pk %}">
          (Edit)
        </a>

        <a href="{% url 'delete_post' post.pk %}">
          (Delete)
        </a>
        {% endif %}
      </small>
      <br>

    {{ post.body }}

    </li>

  {% endfor %}
  </ul>

{% else %}
  <h2>Page does not exists!</h2>
{% endif %}

{% endblock %}
