{% extends 'theblog/base.html' %}


{% block content %}

<h1>Post</h1>
<ul>
{% for post in object_list %}
  <li>
    <a href="{% url 'article-detail' post.pk %}">
      {{ post.title }}
    </a>
    - <a href="{% url 'category' post.category %}">{{ post.category }}</a>
    - {{ post.author }} -
    {{ post.post_date }} -
    <small>
      {% if user.is_authenticated and user.id == post.author.id %}
      <a href="{% url 'update_post' post.pk %}">
        (Edit)
      </a>

      <a href="{% url 'delete_post' post.pk %}">
        (Delete)
      </a>
      {% endif %}
    </small>
    <br>

  {{ post.body }}

  </li>

{% endfor %}
</ul>

{% endblock %}
